.brandContainer {
  display: flex;
  overflow-x: hidden;
}

.brandImageBox {
  position: relative;
}
.brandImageContent {
  position: absolute;
  bottom: 68px;
  right: 154px;
  color: var(--color-white);
}

@media screen and (max-width: 425px) {
  .brandContainer {
    flex-direction: column-reverse;
  }
}
