@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap");

:root {
  background-color: var(--color-white);

  --color-red: #f94f4f;
  --color-bg-black: #191921;
  --color-white: #ffffff;
  --color-text-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  color: var(--color-text-black);
  font-size: 18px;
  line-height: 32px;
}
h1 {
  font-weight: 800;
  font-size: 88px;
  line-height: 88px;
}
h2 {
  font-weight: 800;
  font-size: 56px;
  line-height: 64px;
}
h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.btnOrange {
  width: 140px;
  height: 72px;
  background-color: var(--color-red);
}
.btnOrange:hover {
  background-color: #ff9393;
}
.btnBlack {
  width: 140px;
  height: 64px;
  background-color: var(--color-bg-black);
}
.btnBlack:hover {
  background-color: #434356;
}
